*.o
*.dSYM
*.txt
libav-bitrate
libavmux
metadata-example
yuv2jpeg
yuvaddetect
yuvadjust
yuvafps
yuvaifps
yuvbilateral
yuvCIFilter
yuvconvolve
yuvcrop
yuvdeinterlace
yuvdiag
yuvdiff
yuvfade
yuvfieldrev
yuvfieldseperate
yuvhsync
yuvilace
yuvnlmeans
yuvopencv
yuvpixelgraph
yuvrfps
yuvsubtitle
yuvtbilateral
yuvtemporal
yuvtout
yuvtshot
yuvvalues
yuvwater
yuvyadif
