*.o
*.dSYM
*.txt
libav-bitrate
metadata-example
libavmux
yuvaddetect
yuvadjust
yuvaifps
yuvconvolve
yuvcrop
yuvmdeinterlace
yuvdiff
yuvfade
yuvhsync
yuvrfps
yuvtshot
yuvwater
yuvbilateral
yuvtbilateral
yuvCIFilter
yuvdiag
yuvpixelgraph
yuvfieldrev
yuvtemporal
yuvtout
yuvyadif
yuvnlmeans
yuvvalues
yuv2jpeg
yuvfieldseperate
yuvopencv
yuvsubtitle

